@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>

    2323232323
    <img src="~/img/梦.jpg" />
    <img src="~/images/梦.jpg" />
</head>
<body>
</body>
</html>
