<?xml version="1.0"?>
<configuration>
  <Ftp><![CDATA[D:\MyLove\TotalCommand\wcx_ftp.ini]]></Ftp>
  <SQLShortCut><![CDATA[C:\Users\123\AppData\Local\Red Gate\SQL Prompt 7\Snippets]]></SQLShortCut>
  <SQLConnection><![CDATA[server=47.112.140.126,5388;Uid=serp;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=serp3;Connection Timeout=120;Application Name=serp3_test1]]></SQLConnection>
  <CompanyProject><![CDATA[D:\MyConfig\我做过的项目\]]></CompanyProject>
  <Host><![CDATA[C:\Windows\System32\drivers\etc\hosts]]></Host>
  <HostIp><![CDATA[127.0.0.1]]></HostIp>
  <IISWebUrl><![CDATA[.web.cn]]></IISWebUrl>
  <IISMobileUrl><![CDATA[.mobile.cn]]></IISMobileUrl>
  <IISWebIp><![CDATA[1]]></IISWebIp>
  <IISMobileIp><![CDATA[2]]></IISMobileIp>
  <OldMadnuId>["10795","10789","10219","10563","10481"]</OldMadnuId>
  <OldFtp>["10636","10213","10724","10596","10532"]</OldFtp>
  <ErWeiMaPath><![CDATA[E:\ZPCode\解析二维码.jpg]]></ErWeiMaPath>
  <StandardSQLShortCut><![CDATA[C:\Users\123\AppData\Local\Red Gate\SQL Prompt 7\Snippets\standard.sqlpromptsnippet]]></StandardSQLShortCut>
  <!--快捷程序路径开始-->
  <UpdateTCFtpConfigExe><![CDATA[D:\Tools\UpdateTCFtpConfig\bin\Debug\UpdateTCFtpConfig.exe]]></UpdateTCFtpConfigExe>
  <UpdateShortCodeExe><![CDATA[D:\Tools\UpdateShortCode\bin\Debug\UpdateShortCode.exe]]></UpdateShortCodeExe>
  <UpdateOneLineExe><![CDATA[D:\Tools\UpdateOneLine\bin\Debug\UpdateOneLine.exe]]></UpdateOneLineExe>
  <QueryCodeExe><![CDATA[D:\Tools\QueryCode\bin\Debug\QueryCode.exe]]></QueryCodeExe>
  <AddNewManuExe><![CDATA[D:\Tools\AddNewManu\bin\Debug\AddNewManu.exe]]></AddNewManuExe>
  <CheckLogExe><![CDATA[D:\Tools\CheckLog\bin\Debug\CheckLog.exe]]></CheckLogExe>
  <OpenMyToolsExe><![CDATA[D:\Tools\ZPCode\ZPCode.sln]]></OpenMyToolsExe>
  <WsBuildExe><![CDATA[D:\Mirror\AutoBuildTool\AutoBuildTools\bin\Debug\AutoBuildTools.exe]]></WsBuildExe>
  <OpenBrowserExe><![CDATA[D:\Tools\OpenBrowser\bin\Debug\OpenBrowser.exe]]></OpenBrowserExe>
  <CopyGitItemExe><![CDATA[D:\Tools\CopyGitItem\bin\Debug\CopyGitItem.exe]]></CopyGitItemExe>
  <CopyGitItemExe><![CDATA[D:\Tools\CopyGitItem\bin\Debug\CopyGitItem.exe]]></CopyGitItemExe>
  <CopyViewExe><![CDATA[D:\Tools\CopyView\bin\Debug\CopyView.exe]]></CopyViewExe>
  <OpenBatchSoftwareExe><![CDATA[D:\Tools\OpenBatchSoftware\bin\Debug\OpenBatchSoftware.exe]]></OpenBatchSoftwareExe>
  <CreateSQLExe><![CDATA[D:\Tools\CreateSQL\bin\Debug\CreateSQL.exe]]></CreateSQLExe>
  <CopyGitItemExe><![CDATA[D:\Tools\CopyGitItem\bin\Debug\CopyGitItem.exe]]></CopyGitItemExe>
  <!--快捷程序路径结束-->
  <OldPwdQuery>["10036","10546","10782","10788","10789"]</OldPwdQuery>
  <ChromePath><![CDATA[C:\Program Files (x86)\Google\Chrome\Application\chrome.exe]]></ChromePath>
  <NavicatShortPath><![CDATA[C:\Users\123\Documents\Navicat\Premium\profiles\snippets\General\]]></NavicatShortPath>
  <NavicatExe><![CDATA[C:\Program Files\Navicat Premium 12 notsetup\navicat.exe]]></NavicatExe>
  <NavicatOldManuId>["10022"]</NavicatOldManuId>
  <CopyGitItemExeCheckBox>1</CopyGitItemExeCheckBox>
  <CopyGitItemNameList>["youzuan","mifei"]</CopyGitItemNameList>
</configuration>