
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.bootcss.com/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/extjs/6.0.0/ext-all.js"></script>

    <script type="text/javascript">

        Ext.onReady(function () {
            Ext.onReady(function () {
                Ext.create('Ext.form.Panel', {
                    id: 'newForm',
                    renderTo: 'formId',
                    border: true,
                    width: 600,
                    items: [  {
                        xtype: 'button',
                        text: 'Button',
                            id: 'ABtn',
                            handler: function () {
                                Ext.Ajax.request({
                                    url: '/Home/Test',
                                    headers: {
                                        'userHeader': 'userMsg'
                                    },
                                    params: { a: 10, b: 20 },
                                    method: 'GET',
                                    success: function (response, options) {
                                        Ext.MessageBox.alert('成功', '从服务端获取结果: ' + response.responseText);
                                    },
                                    failure: function (response, options) {
                                        Ext.MessageBox.alert('失败', '请求超时或网络故障,错误编号：' + response.status);
                                    }
                                });
                            }
                    }, {
                        xtype: 'fieldcontainer',
                        fieldLabel: 'Radio field',
                        defaultType: 'radiofield',
                        defaults: {
                            flex: 1
                        },
                        layout: 'hbox',
                        items: [{
                            boxLabel: 'A',
                            inputValue: 'a',
                            id: 'radio1'
                        }, {
                            boxLabel: 'B',
                            inputValue: 'b',
                            id: 'radio2'
                        }, {
                            boxLabel: 'C',
                            inputValue: 'c',
                            id: 'radio3'
                        }]
                    } ]
                });
            });

            //new Ext.Button({
            //    renderTo: "ABtn",
            //    text: "后台Ajax提交",
            //    handler: function () {
            //        Ext.Ajax.request({
            //            url: '/Home/Test',
            //            headers: {
            //                'userHeader': 'userMsg'
            //            },
            //            params: { a: 10, b: 20 },
            //            method: 'GET',
            //            success: function (response, options) {
            //                Ext.MessageBox.alert('成功', '从服务端获取结果: ' + response.responseText);
            //            },
            //            failure: function (response, options) {
            //                Ext.MessageBox.alert('失败', '请求超时或网络故障,错误编号：' + response.status);
            //            }
            //        });
            //    },
            //    id: "bt1"
            //});

        });
    </script>

</head>
<body>
    <div id="formId"></div>
</body>
</html>
