<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    <!-- 一般将unity节点放到文件末尾 -->
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Business" />
    <assembly name="Business" />
    <containers>
      <container name="defaultContainer">
        <register type="IUserService" mapTo="UserService">
          <lifetime type="singleton" />
        </register>
        <register type="Aaron.IService.LogHelper,Aaron.IService" mapTo="Aaron.Service.LogIOHelper,Aaron.Service"/>
      </container>
    </containers>
  </unity>
</configuration>