<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Conn" value="server=.;Uid=sa;Pwd=123456;DataBase=ODB;Connection Timeout=120;Application Name=serp3_test123" />

    <add key="className" value="Person"/>
    <add key="nameSpace" value="Models"/>
  </appSettings>
  
</configuration>