
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
       
    </script>
</head>
<body>
    <div id="pageApp">
        <input type="radio" onclick="alert('点我')" value="" />
    </div>
    <script src="~/lib/Vue-min.js"></script>
    <script>
      


    </script>
</body>
</html>
