<?xml version="1.0" encoding="utf-8" ?>
<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <containers>
    <container name="Default">
  

      <register type="ConsoleTest.IStudent,ConsoleTest" mapTo="ConsoleTest.Student, ConsoleTest">
        <lifetime type="singleton"/>
      </register>
    

    </container>

  </containers>
</unity>
