<?xml version="1.0" encoding="utf-8" ?>
<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity" >
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  
  <container name="Default">
    <register type="ConsoleTest.Models.IStudent,ConsoleTest" mapTo="ConsoleTest.Models.Student,ConsoleTest">
      <lifetime type="singleton"/>
    </register>
  </container>


</unity>
