
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>


<body>
    <div id="IndexModelApp">
        <input type="text" v-model="dataSource.Name" />
        {{dataSource.Name}}
        123木头
    </div>

    <div id="components-demo">
        <button-counter></button-counter>
    </div>
</body>
</html>
<script src="~/Js/jquery-2.1.4.js"></script>
<script src="~/Js/Vue-min.js"></script>

<script>
    //function Login() {
    //    fly.post('/Login/Login', {
    //        account: 'Aaron',
    //        pwd: "123木头人"
    //    })
    //        .then(function (res) {
    //            //获取当前url的回调路径
    //            var returnUrl = GetUrlParam("returnUrl");
    //            if (returnUrl != "") {
    //                window.location.href = returnUrl;
    //            }
    //            window.location.href = "/Home/Index";
    //        })
    //        .catch(function (err) {
    //            console.log(err);
    //        });
    //}
    var dataSource = {
        //活动数据
        Name: "123Aa"
    };
    var app = new Vue({
        el: '#IndexModelApp',
        data: dataSource,
        methods: {},
        created: function () {
        },
        watch: {
            Name: function (old, newVal) {
                this.$nextTick(function () {
                    new Vue({ el: '#components-demo' });
                })
            }
        }
    });


    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })
</script>
