<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--tfs工作区-->
  <appSettings>
    <add key="workArea" value="E:\ZPCode\WsBg"/>
    <add key="suyaWorkArea" value="E:\ZPCode\SuYa_V2"/>
    <add key="mifeiWorkArea" value="E:\ZPCode\Mifei_v2"/>
    <!--此路径搜索 msbuild.exe 找到对应的目录过来替换-->
    <add key="dirkPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin"/>
    <add key="suyaTargetPath" value="E:\ZPCode\SuYa_V2\SuYa.Mobile"/>
    <add key="mifeiTargetPath" value="E:\ZPCode\Mifei_v2\Mifei.Mobile"/>
    <add key="wsTargetPath" value="E:\ZPCode\WsBg\WsBg.Web"/>
    <!--是否简易生成,1代表是 0代表不是-->
    <add key="isSimpleBuild" value="0"/>
  </appSettings>
</configuration>