
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<body>
    <div>
        <input type="button" value="正常" onclick="Func()" />
        <input type="button" value="接收不到" onclick="Func2()" />
    </div>
    <script>

        function Func() {
            var arr = ["aaron", "test1", "test2"];

            $.ajax({
                url: '/Test/Index2',
                type: 'post',
                contentType: "application/x-www-form-urlencoded",
                data: {
                    list: arr
                },
                success: function () {

                }
            });
        }

        function Func2() {
            var arr = ["aaron", "test1", "test2"];            
            $.ajax({
                url: '/Test/Index2',
                type: 'post',
                 
                contentType: "application/form-data",                

                data: {
                    //list: JSON.stringify(arr)
                    list: arr

                },
                success: function () {

                }
            });
        }
    </script>
</body>
</html>
